language: python
python:
  - 3.6
before_install:
  - gem install zsteg
install:
  - pip install -r requirements.txt
script:
  - pytest --junitxml=result.xml
  - python badge.py
after_success:
  - coveralls
